<%= form_for(@item, html: {multipart: true}, :url => admin_items_path ) do |f| %>
  <p>
    <%= f.label :title %><br/>
    <%= f.text_field :title, autofocus: true %>
  </p>
  <p>
    <%= f.label :description %><br/>
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.label :price %><br/>
    <%= f.text_field :price %>
  </p>
  <p>
    <%= f.label :image %>
    <%= f.file_field :image %>
  </p>
  <p>
    <% @categories.each do |category| %>
      <%= f.label category.title %>
      <%= check_box_tag "categories[]", category.id, @item.categories.include?(category) ? true : false, class: "category_checkbox" %>
    <% end %>
  </p>

  <p>
    <%= f.submit %>
    <%= link_to "Cancel", admin_path %>
  </p>
<% end %>
