<table class="table table-striped">
  <thead>
    <tr>
      <th>Picture</th>
      <th>Item Name</th>
      <th>Description</th>
      <th>Price</th>
      <th>Active?</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% @items.each do |item| %>
      <td><% if item.image_file_name != nil %><%= image_tag item.image.url(:thumb) %><% end %></td>
      <td><%= link_to item.title, edit_admin_item_path(item) %></td>
      <td><%= item.description %></td>
      <td><%= print_price(item.price) %></td>
      <td><%= item.active %></td>
    </tr>
    <% end %>
  </tbody>
</table>
