<div class="container">
  <div class="background-color:red">
    <h1 class="text-center">Site Administrator Dashboard</h1>
  </div>
  <h2>Manage Categories</h2>
  <%= link_to "Create A New Category", new_admin_category_path, class: "btn btn-grey4 btn-lg" %>
  <%= link_to "Edit A Category", admin_categories_path, class: "btn btn-grey4 btn-lg" %>

  <h2>Manage Users</h2>
  <%= link_to "Create New User or Administrator", new_admin_user_path, class: "btn btn-grey3 btn-lg" %>
  <%= link_to "View Current Users", admin_users_path, class: "btn btn-grey3 btn-lg" %>


  <h2>Manage Menu Items</h2>
  <%= link_to "Create A New Menu Item", new_admin_item_path, class: "btn btn-grey2 btn-lg" %>
  <h4>Click an item's title to edit or delete the item.</h4>

  <h2>Manage Orders</h2>
  <%= link_to "View Current Orders", admin_orders_path, class: "btn btn-grey1 btn-lg" %>
  <h4>Click an orders's title to edit or delete the order.</h4>

  <%= render 'update_menu' %>

</div>
