<div class="row">
  <div class="col-md-12 col-md-offset-1">
    <h1>Order <%= "#{@order.id}" %></h1>
    <form role="form">
      <%= form_for @order do |f| %>
      <div class="form-group">
        <%= f.label :first_name %>
        <%= @order.user.first_name %>
      </div>
      <div class="form-group">
        <%= f.label :status %>
        <%= @order.status %>
      </div>
      <div class="form-group">
        <%= f.label :total_price %>
        <%= print_price(order_price(@order.items)) %>
      </div>
      <h3>Order Items</h3>
    <% @order.items.each do |item| %>
      <div id='<%= "item_#{item.id}" %>'>
        <li><%= item.title %>
        <li><%= item.description %>
          <%= form_tag(admin_order_path(item), method: :patch, remote: true, style: 'display:inline;') do %>
          <!-- This is the wrong thing to run count on, was originally session[:cart] changed to @items.count so that it at least runs, we need to redo this form -->
            <%= number_field_tag "quantity", @items.count(item.id.to_s), class:"text-size" %>
            <%= submit_tag "update quantity", class: "btn btn-default btn-sm", id: 'update_quantity' %>
          <% end %>
          <%= form_tag(admin_order_remove_item_path(item), method: :patch, remote: true, style: 'display:inline;') do %>
            <span class="glyphicon glyphicon-remove"></span>
            <%= submit_tag 'remove item', class: "btn btn-default", id: "remove_item" %>
          <% end %>
        <% end %>
        <div class="form-group">
          <%= link_to "Cancel My Order", admin_order_path, method: :delete, class:"btn btn-grey1" %>
        </div>
          <% if @order.status == 'ordered' %>
            <%= link_to "Mark as Paid", admin_order_status_path(@order.id, 'paid'), method: :PATCH, class:"btn btn-grey2" %>
          <% end %>
          <% if @order.status == 'paid' %>
            <%= link_to "Mark as Completed", admin_order_status_path(@order.id, 'completed'), method: :PATCH, class:"btn btn-grey3" %>
          <% end %>
        </div>
    <% end %>
  </div>
  <div class="form-group">
    <%= link_to "<< Return to Current Order Dashboard", admin_orders_path, class: "btn btn-grey4"%>
  </div>
</div>
