<div class="row">
  <div class="col-md-12 col-md-offset-2">
    <h1>Order <%= "#{@order.id}" %></h1>
        <%= @order.user.first_name %>
      <div class="status">
        <%= @order.status %>
      </div>
      <div class="price">
        <%= print_price(order_price(@order.items)) %>
      </div>
      <div class="updated">
        <%= (@order.updated_at).to_formatted_s(:long) %>
      </div>
      <h3>Order Items</h3>
      <% @order_items.each do |item, quantity| %>
        <div id='<%= "item_#{item.id}" %>'>
          <li><%= item.title %>
            <%= form_tag(admin_order_update_quantity_path(@order, item), method: :patch, remote: true, style: 'display:inline;') do %>
              <%= number_field_tag "quantity", quantity, min: 0, class: "text-size" %>
            <%= submit_tag "update quantity", class: "btn btn-grey3 btn-sm", id: 'update_quantity' %>
          <% end %>
          </li>
          <span class="glyphicon glyphicon-remove"></span>
          <%= link_to 'remove item', admin_order_remove_item_path(@order, item), class: "btn btn-default", id: "remove_item", remote: true, method: :PATCH %>
        </div>
      <% end %>
        <div class="form-group">
          <%= link_to "Cancel My Order", admin_order_status_path(@order.id, 'cancelled'), method: :PATCH, remote: true, class:"btn btn-grey1" %>
        </div>
        <div class="status-buttons">
          <% if @order.status == 'ordered' %>
            <%= link_to "Mark as Paid", admin_order_status_path(@order.id, 'paid'), method: :PATCH, remote: true, class:"btn btn-grey2 status-button" %>
          <% elsif @order.status == 'paid' %>
            <%= link_to "Mark as Completed", admin_order_status_path(@order.id, 'completed'), method: :PATCH, remote: true, class:"btn btn-grey3 status-button" %>
          <% end %>
        </div>
    <%= link_to "<< Return to Current Order Dashboard", admin_orders_path, class: "btn btn-grey4"%>
  </div>
</div>
