<div class="col-md-10 col-md-offset-1">
  <div class="panel panel-default">
    <div class="panel-heading"><h3>Order <%= "#{@order.id}" %></h3></div>
      <div class="panel-body">
        <b>First Name:</b>
        <div class="user-name">
          <%= @order.user.first_name %>
        </div>

        <b>Email Address:</b>
        <div class="user-email">
           <%= @order.user.email %>
        </div>
        <b>Order Status: </b>
        <div class="status">
           <%= @order.status %>
        </div>
        <b>Total Price: </b>
        <div class="price">
          <%= print_price(order_price(@order.items)) %>
        </div>
        <b>Last Updated At:</b>
        <div class="updated">
         <%= (@order.updated_at).to_formatted_s(:long) %>
        </div>
      </div>
      <div class="panel-body">
        <h3>Order Items</h3>
        <table class="table">
        <tbody>
        <% @order_items.each do |item, quantity| %>
          <div id='<%= "item_#{item.id}" %>'>
            <td><%= item.title %></td>
              <td><%= form_tag(admin_order_update_quantity_path(@order, item), method: :patch, remote: true, style: 'display:inline;') do %>
                <%= number_field_tag "quantity", quantity, min: 0, class: "text-size" %>
              <%= submit_tag "Update Quantity", class: "btn btn-grey3 btn-sm", id: 'update_quantity' %>
            <% end %></td>
            <td><%= link_to 'Remove Item', admin_order_remove_item_path(@order, item), class: "btn btn-grey1 btn-sm", id: "remove_item", remote: true, method: :PATCH %></td>
          </div>
        </tbody>
          <% end %>

      </table>
      </br>
          <div class="form-group">
            <%= link_to "Cancel My Order", admin_order_status_path(@order.id, 'cancelled'), method: :PATCH, remote: true, class:"btn btn-grey1" %>
          </div>
          <div class="status-buttons">
            <% if @order.status == 'ordered' %>
              <%= link_to "Mark as Paid", admin_order_status_path(@order.id, 'paid'), method: :PATCH, remote: true, class:"btn btn-grey2 status-button" %>
            <% elsif @order.status == 'paid' %>
              <%= link_to "Mark as Completed", admin_order_status_path(@order.id, 'completed'), method: :PATCH, remote: true, class:"btn btn-grey3 status-button" %>
            <% end %>
          </div>
      </div>
    </div>
    <%= link_to "<< Return to Current Order Dashboard", admin_orders_path, class: "btn btn-grey4"%>
  </div>
</div>
