<div class="row">
  <div class="col-md-12 col-md-offset-1">
    <h1>Order <%= "#{@order.id}" %></h1>
        <%= @order.user.first_name %>
      <div class="status">
        <%= @order.status %>
      </div>
        <%= print_price(order_price(@order.items)) %>
      <h3>Order Items</h3>
    <% @order.items.each do |item| %>
      <div id='<%= "item_#{item.id}" %>'>
        <li><%= item.title %>
        <li><%= item.description %>
          <%= form_tag(admin_order_path(item), method: :patch, remote: true, style: 'display:inline;') do %>
          <!-- This is the wrong thing to run count on, was originally session[:cart] changed to @items.count so that it at least runs, we need to redo this form -->
            <%= number_field_tag "quantity", @items.count(item.id.to_s), class:"text-size" %>
            <%= submit_tag "update quantity", class: "btn btn-default btn-sm", id: 'update_quantity' %>
          <% end %>
          <%= form_tag(admin_order_remove_item_path(item), method: :patch, remote: true, style: 'display:inline;') do %>
            <span class="glyphicon glyphicon-remove"></span>
            <%= submit_tag 'remove item', class: "btn btn-default", id: "remove_item" %>
          <% end %>
        <% end %>
        <div class="form-group">
          <%= link_to "Cancel My Order", admin_order_status_path(@order.id, 'cancelled'), method: :PATCH, remote: true, class:"btn btn-grey1" %>
        </div>
        <div class="status-buttons">
          <% if @order.status == 'ordered' %>
            <%= link_to "Mark as Paid", admin_order_status_path(@order.id, 'paid'), method: :PATCH, remote: true, class:"btn btn-grey2 status-button" %>
          <% elsif @order.status == 'paid' %>
            <%= link_to "Mark as Completed", admin_order_status_path(@order.id, 'completed'), method: :PATCH, remote: true, class:"btn btn-grey3 status-button" %>
          <% end %>
        </div>
      </div>
    <%= link_to "<< Return to Current Order Dashboard", admin_orders_path, class: "btn btn-grey4"%>
  </div>
</div>
