<%= form_for(@item) do |f| %>
  <p>
    <%= f.label :title %><br/>
    <%= f.text_field :title, autofocus: true %>
  </p>
  <p>
  	<%= f.label :description %><br/>
    <%= f.text_field :description %>
  </p>
  <p>
  	<%= f.label :price %><br/>
    <%= f.text_field :price %>
  </p>
  <p>
    <% @categories.each do |category| %>
      <%= f.label category.title %>
      <%= check_box_tag "categories[]", category.id, @item.categories.include?(category) ? true : false %>
    <% end %>
  </p>

  <p>
    <%= f.submit %>
    <%= link_to "Cancel", items_path %>
  </p>
<% end %>
