<div id="pdf">
<%= link_to 'view menu as pdf', menu_path(format: :pdf, disposition: "inline") %>
<span>or</span>
<%= link_to 'download', menu_path(format: :pdf, disposition: "attachment") %>
<span class="glyphicon glyphicon-list-alt"></span>
</div>

<div id = "categories">
<ul id='category_list'>
<h3>Categories</h3>
<% @categories.each do |category| %>
  <li><a href="#" id="<%= category.to_s %>" class="filter" data-no-turbolink><%= category.title %></a>
  </li>
<% end %>
</ul>
</div>

<div id="masonry-grid">
  <div class="grid-sizer">
    <% @items.each do |item| %>
      <div class="grid-item <%= item.categories.reduce('') { |sum, category| sum + category.to_s + ' '}.strip %>" id="item_<%= item.id %>">
        <%= image_tag item.image.url(:medium) if item.image_file_name %><br/>
        <%= link_to item.title, item_path(item) %><br/>
        <div class="item-description"><%= item.description %></div>
        <%= print_price(item.price) %><br/>
        <%= form_tag(cart_add_item_path(item), method: :patch, remote: true) do %>
          <span class="glyphicon glyphicon-plus"></span>
          <%= label_tag "quantity" %>
          <%= number_field_tag "quantity", 1 , min: 1, class:"text-size" %>
          <%= submit_tag 'Add to cart', class: "btn btn-default btn-sm", id: "add_to_cart" %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<script>
  var container = document.querySelector('#masonry-grid');
  var msnry = new Masonry( container, {
    columnWidth: ".grid-sizer",
    itemSelector: '.grid-item'
  });
  imagesLoaded( container, function() {
    msnry.layout();
  });

  var category_link = $("#<%= @category %>");
  category_link.toggleClass('pressed');

  $('.filter').on('click', function () {
      $(this).toggleClass('pressed');
      filterItems();
      msnry.layout();
  });

  function filterItems() {
    $('.grid-item').removeClass('off');
    $('.pressed').each(function() {
      var category = $(this).attr('id');
      $('.grid-item').each(function() {
        if (!$(this).hasClass(category)) {
          $(this).addClass('off');
        }
      });
    });
  }

</script>
