<div id="masonry-grid" class="center">
  <h1><%= @item.title.capitalize %></h1>
    <% if @item.image_file_name != nil %><%= image_tag @item.image.url(:medium) %><br/><% end %>
    <%= @item.title %><br/>
    <%= @item.description %><br/>
    <%= print_price(@item.price) %><br/>
    <%= 'Category'.pluralize(@categories.size) %>:
    <%= @categories.map { |category| category.title }.join(', ') %>
    <br/>
    <h1>Reviews - Average: <%= @average %> Stars</h1>
    <% @reviews.each do |review| %>
      <h4><%= review.title %><br/></h4>
      <%= review.body %><br/>
      Stars: <%= review.stars %><br/>
    <% end %>
    <% #if item_purchased_by_user %>
      <%= link_to "New Review", new_review_path(@item.id) %>
    <% #end %>
    <%if current_user.nil?  %>
      <%= link_to "<< Return to All Menu Items", items_path %>
    <% elsif current_user.is?('admin') %>
      <%= link_to "<< Return to Your Admin Dashboard", admin_path %>
    <% end  %>
</div>
