<%= form_for(@category) do |f| %>
  <p>
    <%= f.label :title %><br/>
    <%= f.text_field :title, autofocus: true %>
  </p>
  <p>
  	<%= f.label :description %><br/>
    <%= f.text_field :description %>
  </p>

  <p>
    <%= f.submit %>
    <%= link_to "Cancel", categories_path %>
  </p>
<% end %>
