<div class="admin-user">
  <div class="container">
    <%= form_for @user, :url => admin_user_path(@user), method: "patch" do |f| %>
        First Name: <%= @user.first_name %><br/><br/>
        Last Name: <%= @user.last_name %><br/><br/>
        Nick Name: <%= @user.nickname %><br/><br/>
        Email: <%= @user.email %><br/><br/>
        <%= f.label :user_or_admin, "User or Admin?" %> <%= f.select :role, ['User', 'Admin'], :selected => f.object.role %>
        <br>
        <%= f.submit "Save Changes", class: "btn btn-primary btn-lg" %>
    <% end %>

    <%= link_to "Undo your changes", request.path, class: "btn btn-primary btn-lg" %>
    <%= link_to "Cancel", admin_path, class: "btn btn-primary btn-lg" %>

    <%= form_for(@user, html: {multipart: true, method: 'delete'}, :url => admin_user_path(@user) ) do |f| %>
     <%= f.submit "Delete This Account", class: 'btn btn-danger btn-lg' %>
    <% end %>
  </div>
</div>
