<div class="admin-user">
  <div class="container">
    <%= form_for @user, :url => admin_user_path(@user), method: "patch" do |f| %>
        <%= label_tag 'First name' %><br><%= f.text_field :first_name, class: "col-md-12"%><br/><br/>
        <%= label_tag 'Last name' %><br><%= f.text_field :last_name, class: "col-md-12" %><br/><br/>
        <%= label_tag 'Nickname'%>&nbsp<%= f.text_field :nickname, class: "col-md-12" %><br/><br/>
        <%= label_tag 'Email'%>&nbsp<%= f.text_field :email, class: "col-md-12" %><br/><br/>
        <%= f.label :user_or_admin %><%= f.select :role, ['user', 'admin'], :selected => f.object.role %>
        <br>
        <%= f.submit "Save Changes", class: "btn btn-primary btn-lg" %>
    <% end %>

    <%= link_to "Undo your changes", request.path, class: "btn btn-primary btn-lg" %>
    <%= link_to "Cancel", admin_path, class: "btn btn-primary btn-lg" %>

    <%= form_for(@user, html: {multipart: true, method: 'delete'}, :url => admin_user_path(@user) ) do |f| %>
     <%= f.submit "Delete This Account", class: 'btn btn-danger btn-lg' %>
    <% end %>
  </div>
</div>
