<div class="row">
  <div class="col-md-10 col-md-offset-1">
  <h1>New Review</h1>
  <% @review.errors.full_messages.each do |m| %>
    <%= m %>
  <% end %>
    <%= form_for @review do |f|%>

        <%= f.label :title %>
        <%= f.text_field :title %>

      	<%= f.label :body %>
      	<%= f.text_field :body %>

      	<%= f.label :stars %>
      	<%= f.number_field :stars, step: '0.5' %>

        <%= f.hidden_field :item_id %>

    	<%= f.submit class: "btn btn-grey1"%>
    <% end %>
</div>
</div>
