<table class="table table-striped">
  <thead>
    <tr>
      <th>Picture</th>
      <th>Item Name</th>
      <th>Description</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% @items.each do |item| %>
      <td><% if item.image_file_name != nil %><%= image_tag item.image.url(:thumb) %><% end %></td>
      <td><%= link_to item.title, item_path(item) %></td>
      <td><%= item.description %></td>
      <td><%= item.price %></td>
      <td>
        <%= form_tag(cart_update_path, method: :patch) do %>
          <%= hidden_field_tag 'item_id', item.id %>
            <span class="glyphicon glyphicon-plus"></span>
            <%= submit_tag 'Add to cart', class: "btn btn-default btn-sm" %>
        <% end %>
      </td>
      <td>
        <label for="quantity">Quantity</label>
        <select>
          <option value="1" selected="">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
        </select>
      <!-- <a href="/items" class="btn btn-default btn-sm">
      <span class="glyphicon glyphicon-plus"></span> Add to Cart</a> -->

      </td>
    </tr>
    <% end %>
  </tbody>
</table>
