<div id="masonry-grid">
  <div class="grid-sizer">
    <% @items.each do |item| %>
      <div class="grid-item">
        <%= image_tag item.image.url(:medium) if item.image_file_name %><br/>
        <%= link_to item.title, item_path(item) %><br/>
        <%= item.description %>
        <%= print_price(item.price) %><br/>
        <%= form_tag(cart_add_item_path(item.id), method: :patch) do %>
            <span class="glyphicon glyphicon-plus"></span>
            <%= submit_tag 'Add to cart', class: "btn btn-default btn-sm" %>
        <% end %>
        <label for="quantity">Quantity</label>
        <select>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
        </select>
      </div>
    <% end %>
  </div>
</div>

<script>
  var container = document.querySelector('#masonry-grid');
  var msnry = new Masonry( container, {
    columnWidth: ".grid-sizer",
    itemSelector: '.grid-item'
  });
  imagesLoaded( container, function() {
    msnry.layout();
  });
</script>


