<%= form_tag(login_path, html: {class: "navbar-form navbar-right edit"}) do %>
	<p><%= flash[:errors] if flash[:errors] %></p>

	<div class="form-group" style="display:flex">
	<%= text_field_tag "email", nil, placeholder: "email", class: 'form-control' %>

	<%= password_field_tag "password", nil, placeholder: "password", class: "form-control" %>
	<%= submit_tag :login, class: "btn btn-default"  %>
	</div>


<% end %>

<%= link_to "Create Account", new_user_path %>
